[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SubtypeDrug"]
	path = SubtypeDrug
	url = https://github.com/hanjunwei-lab/subtypedrug
	shallow = true
	registered = true
