[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CITMIC"]
	path = CITMIC
	url = https://github.com/hanjunwei-lab/citmic
[submodule "DRviaSPCN"]
	path = DRviaSPCN
	url = https://github.com/cran/DRviaSPCN
[submodule "DTSEA"]
	path = DTSEA
	url = https://github.com/hanjunwei-lab/dtsea
[submodule "DrugSim2DR"]
	path = DrugSim2DR
	url = https://github.com/hanjunwei-lab/drugsim2dr
[submodule "ICDS"]
	path = ICDS
	url = https://github.com/hanjunwei-lab/icds
[submodule "IDMIR"]
	path = IDMIR
	url = https://github.com/cran/IDMIR
[submodule "LncPath"]
	path = LncPath
	url = https://github.com/hanjunwei-lab/lncpath
[submodule "MiRSEA"]
	path = MiRSEA
	url = https://github.com/hanjunwei-lab/mirsea
[submodule "PMAPscore"]
	path = PMAPscore
	url = https://github.com/hanjunwei-lab/pmapscore
[submodule "ProgModule"]
	path = ProgModule
	url = https://github.com/cran/ProgModule
[submodule "SMDIC"]
	path = SMDIC
	url = https://github.com/hanjunwei-lab/smdic
[submodule "SubtypeDrug"]
	path = SubtypeDrug
	url = https://github.com/hanjunwei-lab/subtypedrug
[submodule "iPRISM"]
	path = iPRISM
	url = https://github.com/cran/iPRISM
[submodule "pathwayTMB"]
	path = pathwayTMB
	url = https://github.com/cran/pathwayTMB
[submodule "psSubpathway"]
	path = psSubpathway
	url = https://github.com/hanjunwei-lab/pssubpathway
[submodule "ssMutPA"]
	path = ssMutPA
	url = https://github.com/hanjunwei-lab/ssmutpa
